#somewin {
	display:none;
    -moz-transition: right 0.3s linear 0s;
    border-radius: 15px 15px 15px 15px;  
    font: 13px Arial,Helvetica,sans-serif;
    padding: 15px 27px 20px 18px;
    position: fixed;
    z-index: 5000;
}

#somewinwrap {
}

#clsbtn_somewin {
	float:right;
	width:18px;
	height:18px;
	background: url('../images/close.png') no-repeat 0 0;
	cursor: pointer;
	z-index: 10;
}